{{ if .IsHome -}}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "{{ .Site.Title }}",
    "url": "{{ .Site.BaseURL }}",
    "description": "{{ .Site.Params.description }}",
    "thumbnailUrl": "{{ .Site.Params.Logo | absURL }}",
    "license": "{{ .Site.Params.Copyright }}"
}
</script>
{{ else if .IsPage }}
{{ $author :=  or (.Params.author) (.Site.Author.name) }}
{{ $org_name :=  .Site.Title }}
<script type="application/ld+json">
{
    "@context": "https://schema.org/", 
    "@type": "image", 
    "name": "{{ .Title | safeJS }}",
    "headline": "{{ .Title | safeJS }}",
    "image": "{{ .Params.image }}",
    "description": "{{ .Params.description }}",
    
}
</script>
{{ end }}
