<!--letakkan kode histats dan kode ads universal (seperti social bar adsterra) di bawah baris ini-->
<div id='fixedban' style='width:100%;margin:auto;text-align:center;float:none;overflow:hidden;display:scroll;position:fixed;bottom:0;z-index:999;-webkit-transform:translateZ(0);'>
	<div style='text-align:center;display:block;max-width:52px;height:auto;overflow:hidden;margin:auto'>
		<a id='close-fixedban' onclick='document.getElementById("fixedban").style.display = "none";' style='cursor:pointer;'><img alt='close' src='https://1.bp.blogspot.com/-_A83iDM6JYc/VhtxROLILrI/AAAAAAAADK4/aM4ikIA6aqI/s1600/btn_close.gif' title='close button' style='vertical-align:middle;'/></a>
	</div>
	<div style='text-align:center;display:block;max-width:250px;height:auto;overflow:hidden;margin:auto'>
		<!-- ganti baris ini dengan kode iklan -->
	</div>
</div>